<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
    <link href="../resources/css/site.css" rel="stylesheet">

    <script>
    let saved = localStorage.getItem('theme');
    if(saved) {
        document.documentElement.setAttribute('data-bs-theme', saved);
        // update icon
        let icon = document.querySelector('#themeToggle i');
        if(saved=='dark') icon.classList.replace('fa-moon','fa-sun');
    }
    </script>
</head>
<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container my-3">

        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link active fs-5 mx-3" href="./home.html">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link fs-5 mx-3" href="./resume.html">Resume</a>
            </li>
            <li class="nav-item">
            <a class="nav-link fs-5 mx-3" href="./projects.html">Projects</a>
            </li>
            <li class="nav-item">
            <a class="nav-link fs-5 mx-3" href="./hobbies.html">Hobbies</a>
            </li>
        </ul>
        </div>

        <div class="d-flex align-items-center ms-auto">
        <button class="btn btn-outline-secondary"
            onclick="let d=document.documentElement, t=d.getAttribute('data-bs-theme');
                    t=t=='dark'?'light':'dark';
                    d.setAttribute('data-bs-theme',t);
                    localStorage.setItem('theme',t);
                    this.firstElementChild.classList.toggle('fa-sun');
                    this.firstElementChild.classList.toggle('fa-moon');">
            <i class="fa-solid fa-moon"></i>
        </button>
        </div>

    </div>
    </nav>


<div class="container pt-5">
    <div class="row align-items-center">
        <div class="col-md-4 text-center">
            <img src="../resources/img/headshot.jpg" alt="My Photo" class="img-fluid rounded-5 shadow-lg">
        </div>

        <div class="col-md-8 p-4">
            <h1 class="enlarge">
                Hello <span class="wave">👋</span>
            </h1>
            <p>
                My name is Dylan Spektor and I am a first-year student at CU Boulder studying Computer Science and Applied Math.
            </p>

            <p>
                This personal website was created and hosted for a project in my Software Development Methods and Tools course.
            </p>
            <a href="./resume.html" class="btn btn-primary">See My Resume</a>
        </div>
    </div>
</div>

<footer class="bg-body-tertiary text-body-secondary text-center text-lg-start mt-5">
    <div class="container p-4">
        <div class="row justify-content-center">
            <div class="col-auto">
                <a href="https://github.com/spektordylan" target="_blank" class="text-body mx-3">
                    <i class="fab fa-github fa-2x"></i>
                </a>
                <a href="https://linkedin.com/in/dylanspektor" target="_blank" class="text-body mx-3">
                    <i class="fab fa-linkedin fa-2x"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="text-center text-body-secondary py-2 border-top">
        © 2026 Dylan Spektor
    </div>
</footer>




    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>



</body>
</html>
