#resume {
  font-family: "Times New Roman", Times, serif;
  padding: 2rem;
  border-radius: 0.5rem;
  font-size: large;
}   

.center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.section-heading {
  font-weight: bold;
  text-align: left;
}

hr.solid {
  border-top: 3px solid #a4a4a4;
}

.item-heading {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.item-subheading {
    font-style: italic;
}

#resume ul {
  margin-top: 0;
  padding-top: 0;
  list-style-type: disc;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}