@tailwind base;
@tailwind components;
@tailwind utilities;

.display-none {
    @apply hidden;
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: rgb(27, 37, 51);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 3px 0;
    border-style: solid;
    border-color: gray;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 103%;
    left: 50%;
    margin-left: -45px;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

